body {
  width: 75%;
  margin: auto;
  color: #0b032d;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  background: url("fond.jpg") no-repeat bottom right, -webkit-radial-gradient(rgb(245, 181, 255), rgb(212, 255, 232));
  background: url("fond.jpg") no-repeat bottom right, radial-gradient(rgb(245, 181, 255), rgb(212, 255, 232));
  background-size: cover;
}

p {
  line-height: 1.8;
}

a {
 text-decoration: none;
}

/* unvisited link */
a:link {
 color: #f67e7d;
}

/* visited link */
a:visited {
 color: #e61c5d;
}

/* mouse over link */
a:hover {
 color: #009f9d;
}

blockquote {
  width: 50%;
  margin: auto;
  font-size: 160%;
  background-color: #f4f3f3;
  border-left: 3px solid #c82121;
  padding: 80px 30px;
}
